.maine {
    text-decoration: unset;
    min-height: 50px;
    background-color: teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.maine a {
    color: burlywood ;
    text-decoration: none;
    font-size: 20px;
    margin:5px ;
}

.maine a[class='active']{
    font-size: 50px;
    color: magenta;

}